<div [@routerTransition]>
    <app-page-header [heading]="'Live Estimate'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <h3>Payment Method</h3>
            <p>All transactions are secure and encrypted.</p>
            <form role="form">
                    <fieldset class="form-group">
                            <label></label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Credit Card
                                </label>
                            </div>
                            </fieldset>

                            <div class="form-group owner">
                                <label for="owner">Owner:</label>
                                <input type="text" class="form-control" 
                                id="owner"
                                placeholder="Name">
                            </div>

                            <div class="form-group cvv">
                                    <label for="owner">CVV:</label>
                                    <input type="text" class="form-control" 
                                    id="cvv"
                                    placeholder="CVV"
                                    required
                                    data-ng-pattern="/^[0-9]+$/"
                                    data-ng-minlength="3"
                                    maxlength="4">
                                </div>

                                <div class="form-group" id="card-number-field">
                                        <label for="cardNumber">Card Number:</label>
                                        <input type="text" class="form-control" id="cardNumber">
                                    </div>

                                <div class="form-group" id="expiration-date">
                                    <label>Expiration Date:</label> &nbsp;
                                    <select>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                    </select>
                                </div>

                                <div class="form-group" id="credit_cards">
                                    <img src="assets/images/visa_credit.gif" id="visa">
                                    <img src="assets/images/mastercard_credit.gif" id="mastercard">
                                    <img src="assets/images/amex_card.gif" id="amex">

                                </div>

                                <div class="form-group" id="pay-now">
                                    <button type="submit" class="btn btn-primary" id="confirm-purchase">
                                        Confirm
                                    </button>
                                </div>

               <!--  <fieldset class="form-group">
                    <label>Full Name</label>
                    <input class="form-control">
                    <p class="help-block"></p>
                </fieldset>

                

                <fieldset class="form-group">
                    <label>Date</label>
                    <input class="form-control">
                    <p class="help-block"></p>
                </fieldset> -->

                <!-- <fieldset class="form-group">
                    <label>Text Input with Placeholder</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset> -->

                <!-- <div class="form-group">
                    <label>Static Control</label>
                    <p class="form-control-static">email@example.com</p>
                </div>

                <fieldset class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset> -->

                <!-- <fieldset class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset> -->

                <!-- <div class="form-group">
                    <label>Checkboxes</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 3
                        </label>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <label>Inline Checkboxes</label>
                    <label class="checkbox-inline">
                        <input type="checkbox">1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">3
                    </label>
                </div> -->

                <!-- <fieldset class="form-group">
                    <label>Radio Buttons</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Radio 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Radio 3
                        </label>
                    </div>
                </fieldset> -->

                <!-- <fieldset class="form-group">
                    <label>Inline Radio Buttons</label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                    </label>
                </fieldset> -->

                <!-- <div class="form-group">
                    <label>Location</label>
                    <select class="form-control">
                        <option>North Park</option>
                        <option>Lincoln Park</option>
                        <option>Humboldt Park</option>
                        <option>Rogers Park</option>
                        <option>West Loop</option>
                    </select>
                </div> -->
                <!-- 
                <fieldset class="form-group">
                    <label>Location</label>
                    <select multiple="" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </fieldset>-->

                <!--<button type="submit" class="btn btn-secondary">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>-->

            </form>

        </div>
        <div class="col-lg-6">
           <!--  <h4>Disabled Form States</h4> -->

            <!-- <form role="form">

                <fieldset disabled="">

                    <div class="form-group">
                        <label for="disabledSelect">Disabled input</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="">
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect">Disabled select menu</label>
                        <select id="disabledSelect" class="form-control">
                            <option>Disabled select</option>
                        </select>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Disabled Checkbox
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Disabled Button</button>

                </fieldset>

            </form> -->
            <br>

            <!-- <h4>Form Validation</h4>

            <form role="form">

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess">Input with success</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess">
                </div>

                <div class="form-group has-warning">
                    <label class="form-control-label" for="inputWarning">Input with warning</label>
                    <input type="text" class="form-control form-control-warning" id="inputWarning">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputError">Input with danger</label>
                    <input type="text" class="form-control form-control-danger" id="inputError">
                </div>

            </form> -->

            <!-- <h4>Input Groups</h4> -->

           <!-- <form role="form">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                   
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-eur"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Font Awesome Icon">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            </form> -->

            <!-- <p>For complete documentation, please visit <a target="_blank" href="http://v4-alpha.getbootstrap.com/components/forms/">Bootstrap's Form Documentation</a>.</p> -->

        </div>
    </div>
    <!-- /.row -->
</div>
